/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/pacifico/pacifico-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/quicksand/quicksand-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/quicksand/quicksand-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/quicksand/quicksand-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/quicksand/quicksand-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/quicksand/quicksand-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/quicksand/quicksand-v30-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/quicksand/quicksand-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/quicksand/quicksand-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/quicksand/quicksand-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/quicksand/quicksand-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/quicksand/quicksand-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/quicksand/quicksand-v30-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

html,
body,
#root,
.App {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.home {
  position: relative;
  height: 100%;
}

.home::before {
  content: "";
  background-image: url('./assets/images/homeBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.home-header {
  position: relative;
  color: #d26d00;
  font-family: 'Pacifico', serif;
  font-size: 6rem;
  margin: 0 100px 40px;
  padding-top: 50px;
}

.home-img {
  position: relative;
  width: 25px;
}

.home-subheader {
  position: relative;
  color: rgb(90, 37, 0);
  margin: 0 110px;
  padding-top: 30px;
  font-size: 1.75rem;
}

.home-btn {
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75rem;
  color: rgb(90, 37, 0);
  background: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #d26d00;
  border-radius: 5px;
  padding: 6px 25px;
  box-shadow: -5px 5px 4px #d26d00;
  margin-left: 228px;
  margin-top: 120px;
}

.home-btn:active {
  background-color: rgb(210, 109, 0);
  color: white;
  box-shadow: none;
}