/* pacifico-regular - latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/pacifico/pacifico-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/pacifico/pacifico-v22-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
}

html,
body,
#root,
.App,
.home {
  height: 100%;
}

body {
  margin: 0;
}

.home {
  position: relative;
}

.home::before {
  content: "";
  background-image: url('./assets/images/homeBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.home-header {
  position: relative;
  color: #AD8A64;
  font-family: 'Pacifico', serif;
}